

<div class="row-fluid">
  <div class="span12 well">
    <label for="">Your name: </label> <input id="name" type="text" ng-model="username">
   </div>
</div>

<p></p>
<div class="row-fluid">
  <div class="span12 well">
    Type words starting with {{ letters }}
  </div>
</div>


<p></p>
<div class="row-fluid">
  <div class="span12 well">
    <div id="messagesDiv" auto-scroll="words" style="height:300px;">
      <div ng-cloak ng-repeat="word in words">

          <em>{{word.from}}:
          </em>{{word.content}}
          <span class="badge pull-right">{{ word.points }}</span>

      </div>
    </div>
    <form ng-submit="addWord()">
      <div id="invalidAlert" class="alert alert-danger" ng-show="validWord">{{ newWord }} is invalid</div>
      <input id="newWord" type="text" ng-model="newWord" placeholder="Your word...">
      <input id="send" type="submit" id="submit" value="Send" class="btn btn-primary">
    </form>
  </div>
</div>


