

<div class="row-fluid">
  <div class="span12 well">
    <form ng-submit="addUsername()">
      <input placeholder="Your username" ng-model="user.name" autofocus>
    </form>
  </div>
</div>


<div class="row-fluid">
  <div class="span12 well">
    <form ng-submit="addGame()">
      <button type="submit" value="Start a new Game">
    </form>
  </div>
</div>



<div class="row-fluid">
  <div class="span12 well" ng-show="words" ng-cloak>
    <ul id="word-list">
      <li ng-repeat="word in words">
        <div class="view">
          <label>{{word.content}} ({{word.username}})</label>
          
        </div>
        <!--form ng-submit="doneEditing(id)">
          <input class="edit" ng-model="todo.title" todo-escape="revertEditing(id)" todo-blur="doneEditing(id)" todo-focus="todo == editedTodo">
        </form -->
      </li>
    </ul>
    

  </div>

</div>
